{% extends 'base.html.twig' %}
{% block title %}
Gestion du panier
{% endblock %}
{% block body %}
    <h1>Gestion du panier</h1>
    <table class="table">
        <tr>
            <th>article</th>
            <th>id_article</th>
            <th>quantite</th>
            <th>prix_unitaire</th>
            <th>prix_total</th>
            <th></th>
        </tr>
        <tr>
            <th>PRODUITS</th>
        </tr>
        {% for productContent in sale.products %}
            <tr id="productLine{{ productContent.product.id }}">
                <td >{{ productContent.product.name }}</td>
                <td > {{ productContent.product.id }}</td>
                <td ><input onchange="updateProductQuantity({{ productContent.product.id }})" id="productInput{{ productContent.product.id }}" value="{{ productContent.quantity }}"
                           type="text"></td>
                <td >{{ productContent.pricewhenbought/100.0 }}</td>
                <td id="productTotal{{ productContent.product.id }}">{{ productContent.pricewhenbought * productContent.quantity/100.0 }}</td>
                <td >
                    <button class="btn btn-success " onclick="rmProduct({{ productContent.product.id }})">-</button>
                    <button class="btn btn-success " onclick="addProduct({{ productContent.product.id }})">+</button>
                    <button class="btn btn-danger " onclick="delProduct({{ productContent.product.id }})">X</button>

                </td>
            </tr>
        {% endfor %}
        <tr>
            <th>SERVICES</th>
        </tr>
        {% for serviceContent in sale.services %}

            <tr id="serviceLine{{ serviceContent.service.id }}" >
                <td >{{ serviceContent.service.name }}</td>
                <td > {{ serviceContent.service.id }}</td>
                <td ><input onchange="updateServiceQuantity({{ serviceContent.service.id }})" id="serviceInput{{ serviceContent.service.id }}" value="{{ serviceContent.quantity }}"
                           type="text"></td>
                <td >{{ serviceContent.pricewhenbought/100.0 }}</td>
                <td id="serviceTotal{{ serviceContent.service.id }}">{{ serviceContent.pricewhenbought * serviceContent.quantity/100.0 }}</td>
                <td >
                    <button class="btn btn-success " onclick="rmService({{ serviceContent.service.id }})">-</button>
                    <button class="btn btn-success " onclick="addService({{ serviceContent.service.id }})">+</button>
                    <button class="btn btn-danger " onclick="delService({{ serviceContent.service.id }})">X</button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th>OFFERS</th>
        </tr>
        {% for offerContent in sale.offers %}

            <tr id="offerLine{{ offerContent.offer.id }}">
                <td >{{ offerContent.offer.name }}</td>
                <td > {{ offerContent.offer.id }}</td>
                <td ><input onchange="updateOfferQuantity({{ offerContent.offer.id }})" id="offerInput{{ offerContent.offer.id }}" value="{{ offerContent.quantity }}">
                </td>
                <td id="offerUnitPrice{{ offerContent.offer.id }}">{{ offerContent.pricewhenbought/100.0 }}</td>
                <td id="offerTotal{{ offerContent.offer.id }}">{{ offerContent.pricewhenbought * offerContent.quantity/100.0 }}</td>
                <td >
                    <button class="btn btn-success " onclick="rmOffer({{ offerContent.offer.id }})">-</button>
                    <button class="btn btn-success " onclick="addOffer({{ offerContent.offer.id }})">+</button>
                    <button class="btn btn-danger " onclick="delOffer({{ offerContent.offer.id }})">X</button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th>TOTAL</th>
            <th></th>
            <th></th>
            <th></th>
            <th id="totalprice">{% if sale!=null %}{{ sale.price()/100.0 }}{% endif %}</th>
            <th>
                <a href="/user/panier/save" class="btn btn-success btn-block">COMMANDER</a>
                <br>
                <a href="/panier/clear" class="btn  btn-danger btn-block">VIDER LE PANIER</a>
            </th>
        </tr>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset("web/js/panier.js") }}">
    </script>
{% endblock %}