{% extends 'base.html.twig' %}
{% block title %}
Gestion du panier
{% endblock %}


{% block body %}
    <h1>Gestion du panier</h1>
    <table class="table">
        <tr>
            <th>article</th>
            <th>id_article</th>
            <th>quantite</th>
            <th>prix_unitaire</th>
            <th>prix_total</th>
            <th></th>
        </tr>
        <tr>
            <th>PRODUITS</th>
        </tr>
        {% set i=0 %}
        {% for productContent in sale.products %}
            {% set i=1-i %}
            <tr>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>{{ productContent.product.name }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}> {{ productContent.product.id }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}><input id="productinput{{ productContent.product.id }}" value="{{ productContent.quantity }}"
                           type="text"></td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>{{ productContent.pricewhenbought }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>{{ productContent.pricewhenbought * productContent.quantity }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>
                    <a href="/user/panier/rmProduct/{{ productContent.product.id }}"><button  class="btn btn-success ">-</button></a>
                    <button id="plusproduct{{ productContent.product.id }}" class="btn  btn-success">+</button>
                    <button id="deleteproduct{{ productContent.product.id }}" class="btn  btn-danger">X</button>

                </td>
            </tr>
        {% endfor %}

        <tr>
            <th>SERVICES</th>
        </tr>
        {% for serviceContent in sale.services %}
            {% set i=1-i %}
            <tr>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>{{ serviceContent.service.name }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}> {{ serviceContent.service.id }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}><input id="serviceinput{{ serviceContent.service.id }}" value="{{ serviceContent.quantity }}"
                           type="text"></td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>{{ serviceContent.pricewhenbought }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>{{ serviceContent.pricewhenbought * serviceContent.quantity }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>
                    <button id="minusservice{{ serviceContent.service.id }}" class="btn btn-success">-</button>
                    <button id="plusservice{{ serviceContent.service.id }}" class="btn btn-success">+</button>
                    <button id="deleteservice{{ serviceContent.service.id }}" class="btn  btn-danger">X</button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th>OFFERS</th>
        </tr>
        {% for offerContent in sale.offers %}
            {% set i=1-i %}
            <tr>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>{{ offerContent.offer.name }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}> {{ offerContent.offer.id }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}><input id="offerinput{{ offerContent.offer.id }}" value="{{ offerContent.quantity }}" type="text">
                </td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>{{ offerContent.pricewhenbought }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>{{ offerContent.pricewhenbought * offerContent.quantity }}</td>
                <td {% if i%2==0 %}class="bg-info"{%  else %}class="bg-secondary"{% endif %}>
                    <button id="minusoffer{{ offerContent.offer.id }}" class="btn btn-success">-</button>
                    <button id="plusoffer{{ offerContent.offer.id }}" class="btn btn-success">+</button>
                    <button id="deleteoffer{{ offerContent.offer.id }}" class="btn  btn-danger">X</button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th>TOTAL</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{% if sale!=null %}{{ sale.getPrice() }}{% endif %}</th>
            <th>
                <a href="/user/panier/save"><button class="btn btn-success">COMMANDER</button></a>
                <br>
                <button class="btn  btn-danger">VIDER LE PANIER</button>
            </th>
        </tr>
    </table>

{% endblock %}