{% extends 'base.html.twig' %}

{% block title %}Offer index{% endblock %}

{% block body %}
    <h1>Les offres</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Active</th>
            <th>Start</th>
            <th>End</th>
            <th>Discount</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.id }}</td>
                <td>{{ offer.name }}</td>
                <td>{{ offer.price }}</td>
                <td>{{ offer.description }}</td>
                <td>{{ offer.active ? 'Yes' : 'No' }}</td>
                <td>{{ offer.start ? offer.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offer.end ? offer.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offer.discount }}</td>
                <td>
                    <a href="{{ path('offer_show', {'id': offer.id}) }}">show</a>
                    <a href="{{ path('offer_edit', {'id': offer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('offer_new') }}">Créer une nouvelle offre</a>
{% endblock %}