{% extends 'base.html.twig' %}
        {% block title %}
            Les Fleurs du Male
        {% endblock %}
        {% block body %}
            <h1>Bienvenue sur les site des fleurs du male</h1>
            <h2>Là tout n'est qu'ordre et beauté, Luxe calme et volupté</h2>


        {% endblock %}
        {% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <div><a href="#"><img class="filldiv" src="{{ asset('web/images/bouquets/bouquet-du-fleuriste-Rose-Et-Rouge.jpg') }}"></a></div>
                        <div>prix</div>

                    </div>
                    <div class="col-sm-3">
                        <div><a href="#"><img class="filldiv" src="{{ asset('web/images/bouquets/bouquet-energy.jpg') }}"></a></div>
                        <div>prix</div>

                    </div>
                    <div class="col-sm-3">
                        <div><a href="#"><img class="filldiv" src="{{ asset('web/images/bouquets/bouquet-romantica.jpg') }}"></a></div>
                        <div>prix</div>

                    </div>
                    <div class="col-sm-3">
                        <div><a href="#"><img class="filldiv" src="{{ asset('web/images/bouquets/bouquet-safari.jpg') }}"></a></div>
                        <div>prix</div>

                    </div>
                    <div class="col-sm-3">
                        <div><a href="#"><img class="filldiv" src="{{ asset('web/images/bouquets/bouquet-sunshine.jpg') }}"></a></div>
                        <div>prix</div>

                    </div>
                    <div class="col-sm-3">
                        <div><a href="#"><img class="filldiv" src="{{ asset('web/images/bouquets/fleurs-de-printemps.jpg') }}"></a></div>
                        <div>prix</div>

                    </div>
                    <div class="col-sm-3">
                        <div><a href="#"><img class="filldiv" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5BDqohjrQ6jQuCsOtNX2QCoTiu9GmzZTUsVrgeL5wjB5f8tVSfA"></a></div>
                        <div>prix</div>

                    </div>



                </div>
            </div>
        {% endblock %}