{% extends 'base.html.twig' %}
{% block body %}
    <div class="card text-center sectionOffre">
        <div class="card-header">
            <h1>Fleur de saison</h1>
        </div>
        <div class="card-deck">
            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment1.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°1</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment2.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°2</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment3.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°3</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment4.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°4</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment4.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°5</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment4.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°6</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment4.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°7</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment4.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°8</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment4.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°9</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment4.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°10</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment4.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°11</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card productCard">
                <img class="card-img-top" src="{{'/web/images/site/FleursDumoment4.jpg"'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fleur n°12</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}