{% extends 'base.html.twig' %}
        {% block title %}
            Gestion des villes
        {% endblock %}

        {% block body %}

            <!--formulaire villes-->
            <h1 class="centered">Ajouter une Ville</h1>

            <form action="/admin/city/addActive" method="post">
                {% include "city/form.html.twig" %}
                <input type="submit" class="btn btn-success" value="ajouter ville">
            </form>
            <!--fin formulaire villes-->


            <!--Liste des villes-->

            <h1 class="centered">Liste des Villes</h1> :<br>
            <table class="table">
                <tr>
                    <th class="largeur30">id</th>
                    <th class="largeur150">nom</th>
                    <th class="largeur30">id INSEE</th>
                    <th class="largeur30">état</th>
                    <th class="largeur30">actions</th>
                </tr>

                {% for city in cities %}
                    <tr>
                        <td>{{ city.id }}</td>
                        <td>{{ city.name }}</td>
                        <td>{{ city.inseeid }}</td>
                        <td>{{ city.activeString }}</td>
                        <td>
                            <a href="/admin/city/activate/{{ city.id }}">
                                <button class="btn btn-success">activer</button>
                            </a>
                            <a href="/admin/city/deactivate/{{ city.id }}">
                            <button class="btn btn-secondary" >desactiver</button>
                            </a>
                            <a href="/admin/city/delete/{{ city.id }}">
                                <button class="btn btn-danger" >supprimer</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                <tr>

                </tr>
            </table>
            <!--fin liste des villes-->
        {% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script type="application/javascript" src="{{ asset('web/js/city.js') }}">
                </script>

        {% endblock %}