{% extends 'admin/dashboard.html.twig' %}
        {% block title %}
            Gestion des villes
        {% endblock %}

        {% block body %}

            <!--formulaire villes-->
            <h1 class="centered">Ajouter une Ville</h1>

                {% include "city/form.html.twig" %}
                <button class="btn btn-success" onclick="addActive()">Ajouter Ville</button>

            <!--fin formulaire villes-->


            <!--Liste des villes-->

            <h1 class="centered">Liste des Villes</h1>
            <br>
            <table class="table table-responsive w-auto">
                <tr>
                    <th >id</th>
                    <th >nom</th>
                    <th >id INSEE</th>
                    <th >état</th>
                    <th >actions</th>
                </tr>

                {% for city in cities %}
                    <tr>
                        <td>{{ city.id }}</td>
                        <td>{{ city.name }}</td>
                        <td>{{ city.inseeid }}</td>
                        <td>{{ city.activeString }}</td>
                        <td>
                            <a href="/admin/city/activate/{{ city.id }}">
                                <button class="btn btn-success">activer</button>
                            </a>
                            <a href="/admin/city/deactivate/{{ city.id }}">
                            <button class="btn btn-secondary" >desactiver</button>
                            </a>
                            <a href="/admin/city/delete/{{ city.id }}">
                                <button class="btn btn-danger" >supprimer</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                <tr>

                </tr>
            </table>
            <!--fin liste des villes-->
        {% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script type="application/javascript" src="{{ asset('web/js/city.js') }}">
                </script>

        {% endblock %}