{% extends 'admin/dashboard.html.twig' %}
        {% block title %}
            Gestion des villes
        {% endblock %}

        {% block body %}

            <!--formulaire villes-->
            <h1 class="centered">Ajouter une Ville</h1>

                {% include "city/form.html.twig" %}
                <button class="btn btn-success" onclick="addActive()">Ajouter Ville</button>

            <!--fin formulaire villes-->


            <!--Liste des villes-->

            <h1 class="centered">Liste des Villes</h1>
            <br>
            <table class="table table-responsive w-auto" id="cityTable">
                <tr>
                    <th >id</th>
                    <th >nom</th>
                    <th >id INSEE</th>
                    <th >état</th>
                    <th >actions</th>
                </tr>

                {% for city in cities %}
                    <tr id="ligne{{ city.id }}">
                        <td>{{ city.id }}</td>
                        <td>{{ city.name }}</td>
                        <td>{{ city.inseeid }}</td>
                        <td id="active{{ city.id }}">{{ city.activeString }}</td>
                        <td>
                            <button class="btn btn-success" onclick="enable({{ city.id }})">activer</button>
                            <button class="btn btn-secondary"  onclick="disable({{ city.id }})">desactiver</button>
                            <button class="btn btn-danger" onclick="deleteCity({{ city.id }})">supprimer</button>
                        </td>
                    </tr>
                {% endfor %}

                <tr>

                </tr>
            </table>
            <!--fin liste des villes-->
        {% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script type="application/javascript" src="{{ asset('web/js/city.js') }}">
                </script>

        {% endblock %}