<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>Document</title>{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('web/css/styleGeneral.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    {% endblock %}
</head>
<body>
{% block flashmsg %}
    <!--affiche les messages flash presents en session-->
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}
{% block navbar %}
    <nav class="row navbar {#fixed-top#}flex-md-nowrap text-nowrap p-0">
        <li class="col-2">
            <img src="{{ asset('web/images/site/LogoVecBlanc_UNIFLOR.png') }}" class="img-fluid rounded mx-auto d-block" height="200px" width="200px" alt="image arrondie centrée">
        </li>
        <h1 class="navbar-nav text-center col">Gestion Back-Office</h1>
        <ul class="navbar-nav col-2">
            <li class="nav-item text-nowrap">
                <a class="btn btn-primary" href="/">retour site</a>
            </li>
        </ul>
        <span class="col-1"> </span>

    </nav>
{% endblock %}
{#</div>#}


<div class="row">
        <nav class="col-2 sidebar">
            <div >
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <span class="active">
                            <h3 data-feather="home">
                            Tableau de Bord</h3>
                        </span>
                    </li>
                    {% if app.session.get("accAdminRights") %}
                    <li class="nav-item">
                        <a class="nav-link" href={{ '/acc/user/list' }}>
                            {#                        <a class="nav-link" href={{ '/admin' }}>#}
                            <span data-feather="user"></span>
                            Utilisateurs
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href={{ '/admin/sale/list' }}>
                            {#                        <a class="nav-link" href={{ '/admin' }}>#}
                            <span data-feather="package"></span>
                            Liste des Commandes
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-light dropdown-toggle text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href={{ '/admin/service/list' }}>
                                    {#                        <a class="nav-link" href={{ '/admin' }}>#}
                                    <span data-feather="settings"></span>
                                    Liste
                                </a>
                                <a class="dropdown-item" href={{ '/admin/service/add' }}>
                                    {#                        <a class="nav-link" href={{ '/admin' }}>#}
                                    <span data-feather="settings"></span>
                                    Nouveau
                                </a>
                            </div>
                            <!-- Dropdown menu links -->

                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-light dropdown-toggle text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Offres
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <a class="dropdown-item" href={{ '/admin/offer/list' }}>
                                    {#                        <a class="nav-link" href={{ '/admin' }}>#}
                                    <span data-feather="package"></span>
                                    Liste
                                </a>
                                <a class="dropdown-item" href={{ '/admin/offer/add' }}>
                                    {#                        <a class="nav-link" href={{ '/admin' }}>#}
                                    <span data-feather="shopping-cart"></span>
                                    Nouvelle
                                </a>
                            </div>
                            <!-- Dropdown menu links -->

                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-light dropdown-toggle text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Produits
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <a class="dropdown-item" href={{ '/admin/product/list' }}>
                                    {#                        <a class="nav-link" href={{ '/admin' }}>#}
                                    <span data-feather="shopping-cart"></span>
                                    liste
                                </a>
                                <a class="dropdown-item" href={{ '/admin/product/add' }}>
                                    {#                        <a class="nav-link" href={{ '/admin' }}>#}
                                    <span data-feather="shopping-cart"></span>
                                    Nouveau
                                </a>

                                <a class="dropdown-item" href={{ '/admin/productType/list' }}>
                                    {#                        <a class="nav-link" href={{ '/admin' }}>#}
                                    <span data-feather="shopping-cart"></span>
                                    Types Produits
                                </a>
                                <a class="dropdown-item" href={{ '/admin/productType/add' }}>
                                    {#                        <a class="nav-link" href={{ '/admin' }}>#}
                                    <span data-feather="shopping-cart"></span>
                                    Nouveau Type
                                </a>
                            </div>
                            <!-- Dropdown menu links -->

                        </div>
                    </li>

                    <li class="nav-item">





                                <a class="nav-link" href={{ '/admin/city' }}>
                                    {#                        <a class="nav-link" href={{ '/admin' }}>#}
                                    <span data-feather="shopping-cart"></span>
                                    villes
                                </a>

                            <!-- Dropdown menu links -->


                    </li>
                </ul>

            </div>
        </nav>
    <main role="main" class="col-10">
        <div class="container">

        {% block body %}

            <h1 class="text-center">Bienvenue {{ app.session.get("user").username }} sur l'espace administrateur</h1>
        {% endblock %}
        </div>
    </main>
</div>
{% block footer %}
{% endblock %}
{#</div>#}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>