<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>Document</title>{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href={{ '/web/css/dashboard.css' }}>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="row navbar {#fixed-top#}flex-md-nowrap text-nowrap p-0">
        <a class="col-3" href="#"><h1>UNIFLOR <span data-feather="menu"></span></h1></a>
        <h1 class="navbar-nav text-center col">Gestion Back-Office</h1>
        <ul class="navbar-nav col-2">
            <li class="nav-item text-nowrap">
                <a class="nav-link text-right" href="/logout">Sign out</a>
            </li>
        </ul>
    </nav>
{% endblock %}
{#</div>#}


<div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div >
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <img src="{{ asset('web/images/site/LogoVecBlanc_UNIFLOR.png') }}" class="img-fluid rounded mx-auto d-block" height="200px" width="200px" alt="image arrondie centrée">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href={{ '/admin' }}>
                            <span data-feather="home"></span>
                            Dashboard<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ '/admin/user/list' }}>
                            {#                        <a class="nav-link" href={{ '/admin' }}>#}
                            <span data-feather="user"></span>
                            Utilisateurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ '/admin/product/list' }}>
                            {#                        <a class="nav-link" href={{ '/admin' }}>#}
                            <span data-feather="shopping-cart"></span>
                            Produits
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ '/admin/service/list' }}>
                            {#                        <a class="nav-link" href={{ '/admin' }}>#}
                            <span data-feather="settings"></span>
                            Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ '/admin/offer/list' }}>
                            {#                        <a class="nav-link" href={{ '/admin' }}>#}
                            <span data-feather="package"></span>
                            Offres
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    <main role="main" class="col">
        {% block body %}

        {% endblock %}
    </main>
</div>
{% block footer %}
{% endblock %}
{#</div>#}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src={{'web/js/dashboard.js'}}></script>
{% endblock %}
</body>
</html>