{% extends 'admin/dashboard.html.twig' %}
{% block title %}
    <title>creation produit</title>
{% endblock %}
{% block body %}
    <h1 class="centered">création produit</h1>
{{ form_start(form)}}

{{ form_widget(form) }}

{{ form_end(form) }}
    {% if edit is defined %}
        <div>
            <label for="productTypes">Choisir les Types de produit</label>
            <select id="productTypes">
                <option value=""> </option>
                {% for productType in productTypes %}
                    <option value={{ productType.id }}>{{ productType.name }}</option>
                {% endfor %}
            </select>
            <button onclick="add({{ product.id }})">associer</button>
            <button onclick="remove({{ product.id }})">dissocier</button>
        </div>
        <h3>Liste des types associes</h3>
        <ul id='typeList'>
            {% for productType in product.productTypes %}
                <li id="typeId{{ productType.id }}">{{productType.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('web/js/productType.js') }}"></script>
{% endblock %}