<table class="table table-bordered">
    <tr>
        <th>id</th>
        <th>nom</th>
        <th>description</th>
        <th>prix</th>
        <th>actif</th>
        <th>photo</th>
        <th></th>
    </tr>
    {%  for product in products %}
    <tr>
        <td> {{   product.id }}</td>
        <td> {{  product.name }}</td>
        <td> {{  product.description }}</td>
        <td> {{ product.price }}</td>
        <td> {{ product.active }}</td>
        <td>
            <img class="logo" src="{{ asset('images/products/'~ product.photopath) }}" alt="nomProduit:{{  product.name }}">
        </td>
        <td><a  href="/admin/product/edit/{{   product.id }}"><button>edit</button></a></td>
    </tr>
    {% endfor%}
</table>