<!Doctype html>
<html>
<head>
    <title>

    </title>
</head>
<body>

{#{{ product.name }}#}
{#<br/>#}
{#{{ product.description}}#}
{#<br/>#}
{#{{ product.active }}#}

{{ form_start(form)}}

{{ form_widget(form) }}

{{ form_end(form) }}

</body>