<!doctype html>
<html>
<head>
    <title>
        Produits
    </title>
</head>
<body>
<ul>
    <li>{{ product.id }}</li>
    <li>{{ product.name }}</li>
    <li>{{ product.description }}</li>
    <li>{{ product.price }}</li>
    <li>{{ product.active }}</li>

</ul>

</body>
</html>