<!doctype html>
<html>
<head>
<title>
    Produit
</title>
</head>
<body>
<ul>
    <li>{{ productType.id }}</li>
    <li>{{ productType.name }}</li>
    <li>{{ productType.price }}</li>
    <li>{{ productType.photopath }}</li>
    <li>{{ productType.active }}</li>
</ul>
</body>
</html>