<!Doctype html>
<html>
<head>
    <title>
        Produits
    </title>
</head>
<body>
<h1>List des produits</h1>
    {%  for product in list %}
        <ul>
            <li> {{   product.id }}</li>
            <li> {{  product.name }}</li>
            <li> {{  product.description }}</li>
            <li> {{ product.price }}</li>
            <li> {{ product.active }}</li>
            <li> {{ product.photopath }}</li>
        </ul>
{% endfor%}
</body>
</html>