{% extends 'base.html.twig' %}
{% block title %}
    Gestion de la commande non validée
{% endblock %}


{% block body %}
<div class="bg-gray">
    <h1>Gestion de la Commande</h1>

    {% set address= app.session.get("user").address %}
    <form method="post" action="/user/sale/validate" id="form">
        <div class="container">
            {% if hasOwnAddress %}
            <div class="col">
                <label for="radioOwn">Utiliser ma propre adresse</label>
                <input type="radio" onclick="getOwnAddress()" name="addressChoice" value="own" id="radioOwn">
                <input type="text" readonly id="ownAddress" class="col-lg-9">
            </div>
            {% endif %}
            {% if hasPreviousAddresses %}
            <div class="col">
                <label for="radioUsed">Utiliser une adresse connue</label>
                <input type="radio" onclick="getUsedAddresses()" name="addressChoice" value="used" id="radioUsed">
                <select onchange="setSelectedAddress()" id="addressSelector" class="col-lg-9">
                    <option value=-1></option>
                </select></div>
            {% endif %}
            <div class="col">
                <label for="radioNew">Nouvelle adresse</label>
                <input type="radio" onclick="disableform(false)" name="addressChoice" value="new" id="radioNew" checked>
                <input type="hidden" name="addressId" id="addressId">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <label for="recipient">Nom du destinataire </label><input type="text" name="recipient" required
                                                                             id="recipient" onchange="buttonEnabler()">
                </div>
                <div class="col-md-5">
                    <label for="contact">Contact</label><input type="text" name="contact" id="contact"
                                                               onchange="buttonEnabler()">
                </div>
                <div class="col-md-2">
                    <label for="onlinepay">paiement en ligne</label>
                    <input type="checkbox" id="onlinepay" name="onlinepay"{% if sale.onlinepay %} checked {% endif %}
                           value="true" onchange="buttonEnabler()">
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    Entrez l'adresse de livraison(s)
                </div>
                <div class="col-md">
                    <label for="date">Choisissez la date de livraison</label>
                    <input type="date" name="date" id="date" min="{{ minDate }}" max="{{ maxDate }}">
                </div>

            </div>
        </div>
        <div onchange="buttonEnabler()">{{ include('address/form.html.twig') }}</div>
    </form>
    <table class="table table-responsive table-bordered w-auto">
        <tr>
            <th>article</th>
            <th>id_article</th>
            <th>quantite</th>
            <th>prix_unitaire</th>
            <th>prix_total</th>
            <th></th>
        </tr>
        {% if sale!=null %}
            <tr>
                <th>PRODUITS</th>
            </tr>
            {% for productContent in sale.products %}
                <tr id="productLine{{ productContent.product.id }}">
                    <td>{{ productContent.product.name }}</td>
                    <td> {{ productContent.product.id }}</td>
                    <td >
                            <input id="productInput{{ productContent.product.id }}"
                                   value="{{ productContent.quantity }}"
                                   type="text"
                                   name="quantity"
                                   onchange="updateProductQuantity({{ productContent.product.id }})"
                            >
                    </td>
                    <td>{{ productContent.pricewhenbought/100.0 }}</td>
                    <td id="productTotal{{ productContent.product.id }}">{{ productContent.pricewhenbought * productContent.quantity/100.0 }}</td>
                    <td>
                        <button class="btn btn-success " onclick="rmProduct({{ productContent.product.id }})">-</button>
                            <button class="btn  btn-success" onclick="addProduct({{ productContent.product.id }})">+</button>
                            <button class="btn  btn-danger" onclick="delProduct({{ productContent.product.id }})">X</button>
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <th>SERVICES</th>
            </tr>
            {% for serviceContent in sale.services %}

                <tr id="serviceLine{{ serviceContent.service.id }}">
                    <td>{{ serviceContent.service.name }}</td>
                    <td> {{ serviceContent.service.id }}</td>
                    <td><input id="serviceInput{{ serviceContent.service.id }}" value="{{ serviceContent.quantity }}"
                               type="text" onchange="updateServiceQuantity({{ serviceContent.service.id }})"></td>
                    <td>{{ serviceContent.pricewhenbought/100.0 }}</td>
                    <td id="serviceTotal{{ serviceContent.service.id }}">{{ serviceContent.pricewhenbought * serviceContent.quantity/100.0 }}</td>
                    <td>
                            <button class="btn btn-success" onclick="rmService({{ serviceContent.service.id }})">-</button>
                            <button class="btn btn-success" onclick="addService({{ serviceContent.service.id }})">+</button>
                            <button class="btn  btn-danger" onclick="delService({{ serviceContent.service.id }})">X</button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th>OFFERS</th>
            </tr>
            {% for offerContent in sale.offers %}
                <tr id="offerLine{{ offerContent.offer.id }}">
                    <td>{{ offerContent.offer.name }}</td>
                    <td> {{ offerContent.offer.id }}</td>
                    <td><input onchange="updateOfferQuantity({{ offerContent.offer.id }})"
                               id="offerInput{{ offerContent.offer.id }}" value="{{ offerContent.quantity }}">
                    </td>
                    <td id="offerUnitPrice{{ offerContent.offer.id }}">{{ offerContent.pricewhenbought/100.0 }}</td>
                    <td id="offerTotal{{ offerContent.offer.id }}">{{ offerContent.pricewhenbought * offerContent.quantity/100.0 }}</td>
                    <td>
                            <button class="btn btn-success" onclick="rmOffer({{ offerContent.offer.id }})">-</button>
                            <button class="btn btn-success" onclick="addOffer({{ offerContent.offer.id }})">+</button>
                            <button class="btn  btn-danger" onclick="delOffer({{ offerContent.offer.id }})">X</button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th>TOTAL</th>
                <th></th>
                <th></th>
                <th></th>
                <th id="totalprice">{% if sale!=null %}{{ sale.price()/100.0 }}{% endif %}</th>
                <th>
                    <button class="btn btn-success" onclick="submitform()" id="submitbutton" disabled="disabled">VALIDER
                        COMMANDE
                    </button>
                    <br>
                    <a href="/user/sale/delete">
                        <button class="btn  btn-danger">ANNULER COMMANDE</button>
                    </a>
                </th>
            </tr>
        {% else %}
            <tr>
                <td>Pas de commande non valide trouvée</td>
            </tr>
        {% endif %}
    </table>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset("web/js/sale.js") }}">
    </script>

{% endblock %}