<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>

        {% block title %}
            {% if title is defined %}
            {{ title }}
                {% else %}
                Base!
            {% endif %}
        {% endblock %}

    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ '/web/css/styleGeneral.css' }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% endblock %}
</head>
<body>

<div class="container">
    {% block navbar %}
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1"> <a class="text-muted" href="#">
                        <img src="{{ '/web/images/site/LogoVecTransparent_UNIFLOR.png' }}" width="80" height="80" class="d-inline-block align-top" alt="">
                    </a></div>
                <div class="col-4 d-flex justify-content-end align-items-center">


                        <form action="/search/combo" method="post" id="search" >
                            <div class="input-group">

                            <input type="text"  placeholder="Rechercher..." aria-label="Recipient's username" aria-describedby="basic-addon2" name="name">
                        <button class="btn btn-outline-success form-control" type="button" onclick="submitsearchform()"><i class="fas fa-search" ></i></button>
                            </div>
                        </form>
                    {% if app.session.get("adminRights") or app.session.get("AccAdminRights")  %}
                        <a class="btn btn-secondary btn-sm" href="/admin/dashboard">administrer</a>
                    {% endif %}







                </div>
                <div class="col-xl">

                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="#"><img class="logoHeader" src="{{ '/web/images/site/iconFacebook.png' }}" alt=""></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img class="logoHeader" src="{{ '/web/images/site/icons8-twitter-vert-96.png' }}" alt=""></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"><img class="logoHeader" src="{{ '/web/images/site/icons8-instagram-vert-96.png' }}" alt=""></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"><img class="logoHeader" src="{{ '/web/images/site/icons8-pinterest-filled-96.png' }}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>

        <div class="nav-scroller py-1 mb-2 bg-light sticky-top py-1">
            <nav class="nav d-flex justify-content-between">
                <a class="btn btn-light" href="/"><img class="iconImage" src="{{ '/web/images/site/icons8-accueil-vert-96.png' }}" alt=""> Accueil</a>
                <div class="dropdown">
                    <a class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="iconImage" src="{{ '/web/images/site/icons8-plante-en-pot-vert-96.png' }}" alt="">Nos produits
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#"> <img src='/images/products/plante.jpg' class="iconImage" alt="">Plantes</a>
                        <a class="dropdown-item" href="/orchid"><img class="iconImage" src="{{'/images/products/Orchidee-dans-un-pot.jpg' }}" alt="">orchidés</a>
                        <a class="dropdown-item" href="/products"><img class="iconImage" src="{{'/images/products/roses.jpg' }}" alt="">fleurs coupés</a>
                        <a class="dropdown-item" href="/services"><img class="iconImage" src="{{'/images/products/service.png' }}" alt="">service</a>
                        <a class="dropdown-item" href="#"><img class="iconImage" src="{{'/images/products/tombe.jpg' }}" alt="">R.E.P</a>
                    </div>
                </div>

                <a class="btn btn-light" href="#"><img class="iconImage" src="{{ '/web/images/site/renouveler_l_abonnement_vert-96.png' }}" alt=""> Offres</a>
                <a class="btn btn-light" href="#"><img class="iconImage" src="{{ '/web/images/site/icons8-code-barre-vert-96.png' }}" alt=""> Promotions</a>
                <a class="btn btn-light" href="#"><img class="iconImage" src="{{ '/web/images/site/icons8-donner-un-cadeau-filled-50.png' }}" alt=""> Idées cadeaux</a>
                <a class="btn btn-light" href="/test/test_form"><img class="iconImage" src="{{ '/web/images/site/icons8-cv-vert-96.png' }}" alt=""> Emploi</a>
                <a class="btn btn-light"  href="/panier/show"> <img class="iconImageKart" src="{{ '/web/images/site/icons8-caddie-vert-96.png' }}"  alt=""></a>
                {% if app.session.get("connected")==true %}
                    <a class="btn btn-light"  href="/Profile">
                        <img class="iconImageUser"
                                {% if app.session.get("photo") %}
                                    src="{{ '/images/persons/' ~ app.session.get('photo') }}"
                                {% else %}
                                    src="{{ '/web/images/site/icons8-utilisateur-sexe-neutre-filled-vert-96.png' }}"
                                {% endif %}
                             alt="">{{ app.session.get("user").username }}
                    </a>
                    <a class="btn btn-light" href="/logout">
                        <span class="badge badge-pill badge-success">logout</span>
                    </a>
                {% else %}
                    <a class="btn btn-light " href="/login"><img class="iconImageUser" src="{{ '/web/images/site/icons8-utilisateur-sexe-neutre-filled-vert-96.png' }}" alt=""></a>
                {% endif %}

            </nav>
        </div>
    {% endblock %}

    {% block flashmsg %}
        <!--affiche les messages flash presents en session-->
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    {% endblock %}

    {% block body %}

    {% endblock %}

    {% block footer %}


        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col align-self-center">
                        <div class="input-group mb-3" hidden>
                            <input type="text" class="form-control" placeholder="SUIVEZ-NOUS" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        </div>
                        <div class="input-group-append" hidden>
                            <button class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <img src="{{ '/web/images/LogoUniflorsThumbnail.jpg' }}" alt="..." class="rounded float-left">
            </div>
            <div class="col">
                <ul class="list-group list-group-flush">
                    <h5 class="card-title">À  PROPOS D'UNIFLOR</h5>
                    <li class="list-group-item"><a href="">Qui sommes-nous?</a></li>
                    <li class="list-group-item"><a href="">Moyens de paiement</a></li>
                    <li class="list-group-item"><a href="">Condition de vente (CGV)</a></li>
                    <li class="list-group-item"><a href="">Mentions légales</a></li>

                </ul>
            </div>
            <div class="col">
                <ul class="list-group list-group-flush">
                    <h5 class="card-title">BESOIN D'AIDE</h5>
                    <li class="list-group-item"><a href="">Accès fleuriste</a></li>
                    <li class="list-group-item"><a href="">Informations livraison</a></li>
                    <li class="list-group-item"><a href="/contactAdmin">Contactez-nous</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="list-group">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Contactez-nous</h5>
                    </div>
                    <p class="mb-1">0XxXxXxXxX.</p>
                    <p class="text-muted">Du lundi au vendredi de 10 à 18h</p>
                </div>
            </div>
        </div>


    {% endblock %}
</div>

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="application/javascript" src="{{ asset('web/js/main.js') }}"></script>
{% endblock %}
</body>
</html>