{% extends 'admin/dashboard.html.twig' %}
{% block title %}Uniflor - Administration - Utilisateurs{% endblock %}

{% block body %}

    <table  class="table table-bordered w-auto table-responsive">
        <tr>
            <th scope="col" >#</th>
            <th scope="col" >Nom</th>
            <th scope="col" >Prénom</th>
            <th scope="col" >Né(e) le</th>
            <th scope="col" >Email</th>
            <th scope="col" >Photo</th>
            <th scope="col" >Banni</th>
            <th scope="col" >Supprimé</th>
            <th scope="col" >Actif</th>
            <th scope="col" >Droits</th>
            <th scope="col" >Pseudo</th>
            <th scope="col" >Last Connected</th>
        </tr>


        {% set sessionId=(app.session.get('user').id) %}
        {% for user in users %}
            <tr {% if sessionId==(user.id)%}class="bg-primary " {% endif %}>
                <th>{{ user.id }}</th>
                <td>{{ user.Name }}</td>
                <td>{{ user.firstName }}</td>
                <td>{% if user.birthday!=null %}{{ user.birthday|date }}{% endif %}</td>
                <td>{{ user.email }}</td>
                <td><img src="{{ asset('images/persons/' ~ user.photopath )}}" class="logo">

                </td>
                <td>
                        <input type="checkbox" id="checkbox{{ user.id }}" onchange="submitban({{ user.id }})" {% if user.banned %} checked {% endif %} {% if sessionId==(user.id)%}disabled{% endif %}>
                </td>
                <td>
                    <input type="checkbox" id="checkboxdelete{{ user.id }}" onchange="submitdelete({{ user.id }})" {% if user.deleted %} checked {% endif %} {% if sessionId==(user.id)%}disabled{% endif %}>
                </td>
                <td>{{ user.enabled }}</td>
                <td>
                    <input type="text" value="{{ user.rights }}" onchange="submitrights({{ user.id }})" id="rights{{ user.id }}" {% if sessionId==(user.id)%}readonly{% endif %}>
                </td>
                <td>{{ user.username }}</td>
                <td>{% if user.lastLogin!=null %}{{ user.lastLogin|date }}{% endif %}</td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset("web/js/userlist.js") }}">
    </script>

{% endblock %}